*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}



.center {
    padding-left: 120px;
    padding-right: 120px;
}



.top {
    height: 1024px;
    background-image: url(img/top-back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
}

.top__content {
    padding-top: 217px;

}

.top__content__title {
    display: flex;
    height: 125.007px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top__content__text {
    padding-top: 32px;
    padding-bottom: 44px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;


}

.bold {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;

}

.top__content__button {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 234.063px;
    height: 48.603px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #9C0332;
}


.games {

    background-color: #000915;
}

.games__nav {
    padding-top: 128px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.games__nav__box {
    display: flex;
    position: relative;
  

}

.games__nav__box_image {

    border-radius: 16px;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(<path-to-image), lightgray 50% / cover no-repeat;
    border: none;


}


.games__nav__box_image :hover {

    border-radius: 16px;
    border: 3px solid #44D2FF;

}


.games__nav__box_number {


    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    position: absolute;
    left: 32px;
    bottom: 32px;
}