*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 1440px;
    height: 1580px;
}

.top {
    height: 1024px;
    background-image: url(img/top-back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
}

.top__content {
    padding-top: 217px;
    padding-left: 120px;
}

.top__content__title {
    display: flex;
    width: 788.778px;
    height: 125.007px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top__content__text {
    padding-top: 32px;
    padding-bottom: 44px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;


}

.bold {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;

}

.top__content__button {

    width: 234.063px;
    height: 48.603px;
    border-radius: 30px;
    background: #9C0332;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: #9C0332;
}

.product-box {
    padding-top: 128px;
    height: 556px;
    flex-shrink: 0;
    background: #000915;
    display: flex;
    gap: 32px;
    justify-content: center;
}

.product-box__product {
    width: 379px;
    height: 300px;
    flex-shrink: 0;
}

.product-box__product__image {

    position: absolute;
    flex-shrink: 0;
    border-radius: 16px;
    background-color: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.product-box__product__image:hover,
:focus {
    border: 3px solid #44D2FF;

}

.product-box__product__name {
    position: relative;
    left: 32px;
    top: 236px;
    display: flex;
    height: 31.639px;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    flex-direction: column;
}